/*
 * GCM Prototype - mapFilter 
 * 
 * TABLE OF CONTENTS
 *
 * Main
 *     Map
 *     GCM
 * Plugins 
 *     tablesorter
 *     jScrollPane
 *     other
 */
 

/*
 *  Main 
 */
body { 
	margin: 0; 
	padding: 0; 
	font-size:80%;
}

 
/*
 *  Main | Map
 */

#map_id { 
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
    background:blue;
}

/* Info Window styles */
.IW { width: 340px;}
.IWContent {height: 120px; overflow:auto;}
.IWCaption {font-weight: bold; font-size: 12pt; color: #369; border-bottom: 2px solid #369;}
.IWFooter {margin-top: 5px; font-size: 8pt; }
.IWFooterZoom {}
.IWDirections{background-color:#FFF;}

/* want to save linebreaks but also wordwrap */
.preWrapped {
  white-space: pre; 
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  text-align:left;
  font: normal small verdana, arial, helvetica, sans-serif; 
  font-size: 8pt;
  margin-bottom: 10px;
}


/*
 *  Main | GCM 
 * 
 *  GCM components that go on top of the map
 */


#rightTab {
    position:absolute;
    top:40px;
    right:0;
    display:block;
    height:30px;
    width:30px;
    cursor:pointer;
    z-index:10;
    background-color: #FFF;
    font-size:24px;
    font-weight:bold;
    padding-left:6px;
}
#rtSide { 
	position:absolute;
	top:70px;
	right:0;
	background: #99B3CC;
	overflow:hidden;
	z-index:2;
}



/*
 *  Plugins | tablesorter
 *
 * originally from tablesorter.style.css 
 */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
table.tablesorter {margin: 0 0 0 0;} 


 /*
  *  Plugins | jScrollPane
  *
  *  http://www.kelvinluck.com/assets/jquery/jScrollPane/examples.html
  *  note - if winxp is used, must pass options like this
  *  	$('#pane1').jScrollPane({showArrows:true, scrollbarWidth: 17});
  *  note - if osX is used, like this
  *		$('#pane2').jScrollPane({showArrows:true, scrollbarWidth: 15, arrowSize: 16});
  */
.winXP .jScrollPaneTrack {
	background: url(../img/windows_track.gif) repeat-y;
}
.winXP .jScrollPaneDrag {
	background: url(../img/windows_drag_middle.gif) no-repeat 0 50%;
}
.winXP .jScrollPaneDragTop {
	background: url(../img/windows_drag_top.gif) no-repeat;
	height: 4px;
}
.winXP .jScrollPaneDragBottom {
	background: url(../img/windows_drag_bottom.gif) no-repeat;
	height: 4px;
}
.winXP a.jScrollArrowUp {
	height: 17px;
	background: url(../img/windows_arrow_up.gif) no-repeat 0 0;
}
.winXP a.jScrollArrowUp:hover {
	background-position: 0 -20px;
}
.winXP a.jScrollArrowDown {
	height: 17px;
	background: url(../img/windows_arrow_down.gif) no-repeat 0 0;
}
.winXP a.jScrollArrowDown:hover {
	background-position: 0 -20px;
}
.winXP a.jScrollActiveArrowButton, .winXP a.jScrollActiveArrowButton:hover {
	background-position: 0 -40px;
}


.osX .jScrollPaneTrack {
	background: url(../img/osx_track.gif) repeat-y;
}
.osX .jScrollPaneDrag {
	background: url(../img/osx_drag_middle.gif) repeat-y;
}
.osX .jScrollPaneDragTop {
	background: url(../img/osx_drag_top.gif) no-repeat;
	height: 6px;
}
.osX .jScrollPaneDragBottom {
	background: url(../img/osx_drag_bottom.gif) no-repeat;
	height: 7px;
}
.osX a.jScrollArrowUp {
	height: 24px;
	background: url(../img/osx_arrow_up.png) no-repeat 0 -30px;
}
.osX a.jScrollArrowUp:hover {
	background-position: 0 0;
}
.osX a.jScrollArrowDown {
	height: 24px;
	background: url(../img/osx_arrow_down.png) no-repeat 0 -30px;
}
.osX a.jScrollArrowDown:hover {
	background-position: 0 0;
}


/*
 *  Plugins | other
 */

.ui-state-active { background: white; }



